{% extends "base.html" %}
{% load static %}

{% block title %} PetCare - Inicio {% endblock %}

{% block estilos %}
   <link rel="stylesheet" href="{% static '/core/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static '/core/css/style1.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css'>
   <link rel="stylesheet" href="{% static '/core/css/stylecarrito1.css' %}">
   <link rel="stylesheet" href="{% static '/core/css/responsive.css' %}">
   <link rel="icon" href="{% static '/core/img/fevicon.png' %}" type="../image/gif" />
   <link rel="stylesheet" href="{% static '/core/css/jquery.mCustomScrollbar.min.css' %}">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
{% endblock %}

{% block content %}
   <body class="main-layout">
      <section style="padding-top: 200px; background: url({% static '/core/img/banner.jpg' %}); background-size: cover; background-repeat: no-repeat;" class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
               <li data-target="#banner1" data-slide-to="3"></li>
               <li data-target="#banner1" data-slide-to="4"></li>
               <li data-target="#banner1" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Promoción exclusiva para suscriptores</h1>
                                 <p>¡Cada compra suma puntos! Si acumulas la cantidad de puntos necesaria, puedes elegir entre una variedad de maravillosos productos para canjearlos. Recuerda, la promoción sólo aplica para suscriptores.</p>
                                 <a href="../vistas/login.html">Canjear </a> <a href="../contact.html">Contacto </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="https://cdn.shopify.com/s/files/1/0564/8980/3942/files/pet_house_outlet_mascotas_juguetes_y_accesorios_503x503.png?v=1620440787" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Purina</h1>
                                 <p>Para los regalones de la casa, siempre debemos tener el mejor alimento.</p>
                                 <a href="../vistas/catalogo.html">Comprar </a> <a href="../contact.html">Contacto </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static '/core/img/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Accessorios</h1>
                                 <p>Ofrecemos una variedad amplia de accesorios para tus mascotas</p>
                                 <a href="../vistas/catalogo.html">Comprar </a> <a href="../contact.html">Contacto </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="https://cdn.shopify.com/s/files/1/0564/8980/3942/files/pet_house_outlet_mascotas_juguetes_y_accesorios_503x503.png?v=1620440787" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>Juguetes</h1>
                                 <p>¡Para estimular la mente y divertirse más que nunca!</p>
                                 <a href="../vistas/catalogo.html">Comprar </a> <a href="../contact.html">Contacto </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="https://dojiw2m9tvv09.cloudfront.net/34396/1/grupo_perros.png?1638501946798" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <!--<span>Computer And Laptop</span>-->
                                 <h1>Rascadores</h1>
                                 <p>Porque queremos que tus amigos felinos tengan la mejor de las comodidades, ofrecemos una amplia variedad de rascadores.</p>
                                 <a href="../vistas/catalogo.html">Comprar </a> <a href="../contact.html">Contacto </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="https://d2r9epyceweg5n.cloudfront.net/stores/001/140/392/products/609-730x7001-d213a2747cf26da3f815859263745763-1024-1024.png" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <h1>¡Suscríbete!</h1>
                                 <p>Sé parte del equipo PetCare y disfruta una gran variedad de beneficios que te esperan.</p>
                                 <a href="../vistas/register.html">Suscribirse </a> <a href="../contact.html">¿Tienes dudas? </a>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img style="height: 180;width: 200px;" src="{% static '/core/img/logo.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="http://www.ortocanis.com/img/cms/perro_deportivo_m_650x550.png" alt="#"/></i>
                     <h3>Actividad física</h3>
                     <p>El paseo debe ser una parte importante de la relación del propietario con su animal, el perro debe sentirse libre, satisfecho, contento con el paseo y debe servir para que éste haga actividad física. Por lo tanto es importante que uno o dos de los paseos que se da el perro a lo largo del día sea bastante más largo y el perro, sobretodo si es joven, pueda correr libremente, saltar, jugar con otros perros, etc. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="http://www.ortocanis.com/img/cms/Fotos%20CMS/perro%20comiendo.jpg" alt="#"/></i>
                     <h3>Buena alimentación</h3>
                     <p>Una buena alimentación, tal como para los seres humanos, es muy importante cuando se trata de prevenir enfermedades, cuidar estado físico, nutrirse correctamente, entre muchas otras cosas. La base para una buena vida es la alimentación correcta.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="https://www.petfanmx.com/imageHandler/g.ashx?s=repo&ID=2672&w" alt="#"/></i>
                     <h3>Higiene</h3>
                     <p>Es otro de los aspectos importantes, aunque a veces olvidado de las mascotas, higiene no sólo significa llevar al animal limpio, sino cuidar su piel, sus pezuñas, su boca y por lo tanto su aliento, y que tenga el sitio apropiado para hacer sus necesidades sin mancharse y donde nosotros las podamos recoger y depositar en el lugar apropiado. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- customer -->
      
      <div class="customer">
         <div class="container">
            <hr>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Calificación de clientes</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static '/core/img/cos.png' %}" alt="#"/></i>
                                          <h4>Cristina González</h4>
                                          <p>¡De lo mejor! Desde la primera vez que les compré me encanté con su amabilidad.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static '/core/img/cos.png' %}" alt="#"/></i>
                                          <h4>Gonzalo Perez</h4>
                                          <p>Mis gatitos y yo estamos muy felices y agradecidos con su servicio.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static '/core/img/cos.png' %}" alt="#"/></i>
                                          <h4>Pepe Grillo</h4>
                                          <p>¡Nunca antes había visto precios tan bajos cuando se trata de artículos para mascotas!</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
{% endblock %}

{% block scripts %}
   <script src="{% static '/core/js/jquery.min.js' %}"></script>
   <script src="{% static '/core/js/popper.min.js' %}"></script>
   <script src="{% static '/core/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static '/core/js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static '/core/js/scriptcarrito.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static '/core/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static '/core/js/custom.js' %}"></script>
   <script>
      function menuToggle(){
         const toggleMenu = document.querySelector('.menu');
         toggleMenu.classList.toggle('active')
      }
   </script>
{% endblock %}
